# dependencies
node_modules
.pnp
.pnp.js

# build
dist
dist-ssr
*.local
*.tsbuildinfo

# logs
logs
*.log
npm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# env
.env
.env.*
!.env.example
